# Flags

`@aperta/flags` is a simple feature flagging library. It is designed to be:

- Fast
- Simple
- Framework agnostic

Installation is easy with `npm`:

```cmd
npm i @aperta/flags
```

## something

### something
