@import 'tailwindcss';

body {
	@apply bg-gray-950 text-gray-400;
	scroll-behavior: smooth;
	font-family: 'Geist Sans', sans-serif;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

@layer base {
	.silkscreen {
		font-family: 'Silkscreen', system-ui;
	}

	.geist-mono {
		font-family: 'Geist Mono Variable', monospace;
	}
}

@utility prose {
	p {
		@apply mb-5;
	}
	code {
		@apply text-white;
	}
	ul {
		@apply mb-5 ml-7 list-disc space-y-1;
	}
	h1,
	h2,
	h3 {
		@apply mb-3 text-white;
	}
	h1 {
		@apply text-2xl;
	}
	h2 {
		@apply text-xl;
	}
	h3 {
		@apply text-lg;
	}
	pre {
		@apply mb-5;
	}
}

.shiki {
	@apply w-full! rounded-lg! border border-gray-900 bg-gray-950/50! p-5 shadow-sm shadow-black/50;
	font-family: 'Geist Mono Variable', monospace;
}
