@import 'tailwindcss';
@plugin '@tailwindcss/typography';

body {
	@apply bg-gray-950 text-gray-400;
	font-family: 'Geist Sans', sans-serif;
}

.silkscreen {
	font-family: 'Silkscreen', system-ui;
}

.geist-mono {
	font-family: 'Geist Mono Variable', monospace;
}
